body {
    font-family: 'Roboto', sans-serif;
}

.top {
    background-color: #FDE3FB;


}

.topright {
    background-color: #FDE3FB50;


}

.left {
    background-color: #D6DCE565;


}

.right {
    background-color: #E6F0F265;


}